block header
    header 
        div(class="logo")
            a(href="/") 
                h2="MagaNets"
        section 
            div(class="menu")
                div(class="option")
                    i(class="fas fa-map-marker-alt")
                    span="cidade: São Paulo"
                div(class="option")
                    i(class="fas fa-phone-alt")
                    span="central de atendimento"
                div(class="option")
                    a(href="/wishlist")
                        i(class="fas fa-heart")
                        span="lista de desejos" 
            div(class="search-container")
                div(class="search")
                    i(class="fas fa-search")
                    input(type="text" id="search-input" placeholder="Busca")