extends layout

block main
  main
    section(class="breadcump")
      each item, index in breadcump
        - link = (item == "Home") ? "/" : item == "Wishlist" ? "/wishlist" : ""
        if(index != breadcump.length-1)
          - item = item + " > "
        a(href=link)
          span=item
    include ./products

    
