block header
    header 
        div(class="logo")
            a(href="/") 
                h2="Maganets"
        section 
            div(class="menu")
                div(class="menu__option")
                    i(class="fas fa-map-marker-alt")
                    span="cidade: São Paulo"
                div(class="menu__option")
                    i(class="fas fa-phone-alt")
                    span="central de atendimento"
                div(class="menu__option")
                    a(href="/wishlist")
                        i(class="fas fa-heart")
                        span="lista de desejos" 
            div(class="search")
                input(type="text" placeholder="&#f002; Busca")